* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

@keyframes anim2 {
    to {
        transform: translateY(-100%);
    }
}

#loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 9999;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: anim2 1.5s cubic-bezier(0.19, 1, 0.22, 1) 4.7s both;
}

#wrapperload {
    height: 100px;
    width: 500px;
    /* background-color: #efefef; */
    overflow: hidden;
}

#wrapperload .elem {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: #dadada; */
}

#wrapperload .elem img {
    width: 60%;
}

@keyframes anim {
    to {
        margin-top: -100px;
    }
}

#wrapperload .elem:nth-child(1) {
    animation: anim 1s cubic-bezier(0.19, 1, 0.22, 1) 1.75s both;
}

#wrapperload .elem:nth-child(2) {
    font-size: 15px;
    animation: anim 1s cubic-bezier(0.19, 1, 0.22, 1) 2.75s both;
}

#wrapperload .elem:nth-child(3) {
    font-size: 15px;
    animation: anim 1s cubic-bezier(0.19, 1, 0.22, 1) 3.75s both;
}

#page1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}